html, body{
    height: 100%;

    margin: 0;

    background-color: #0a6c03;

    font-size: large;
    font-family: 'Architects Daughter', cursive;
}

.setup h1,
.setup .selectOnOff,
.setup .offline{
    position: absolute;
    left: 25%;

    width: 50%;

    margin: 0;
    border: 5px solid black;

    background-color: #f9f1f1;
}
.setup h1{
    top: 1em;

    border-radius: 0.5em;
    padding: 0.5em;

    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}
.setup .selectOnOff,
.setup .offline{
    top: calc(7em + 15px);

    border-radius: 1em;
    padding: 1em;
}
.setup .selectOnOff button{
    display: block;

    width: 60%;

    margin: 1em 20%;
    padding: 0.5em;
    border-radius: 1em;

    font-size: 1.3em;
    font-family: inherit;

    cursor: pointer;
}
.setup .offline .setupForm{
    display: grid;
    grid-gap: 0.5em;

    padding: 1em 2em;
}
.setup .offline .setupForm label{
    padding: 0.5em 0;

    text-transform: uppercase;
}
.setup .offline .setupForm input{
    padding: 0.5em;

    font-size: inherit;
    font-family: inherit;
}
.setup .offline .setupForm input[type='submit']{
    width: 40%;

    margin-left: 60%;
}

.game{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 2fr calc(150px + 1em);

    position: relative;
    left: 5%;
    top: 5%;

    width: 90%;
    height: 90%;

    border: 5px solid black;
    border-radius: 0.5em;

    background-color: #f9f1f1;
}
.game .table,
.game .info,
.game .hand{
    padding: 0.5em 1em;
    border: 4px solid black;
    border-radius: 0.5em;
    margin: 0.5em;
}
.game .hand{
    grid-column: 1 / 3;
    display: flex;

    background-color: #e2bdbd;

    overflow: auto;
}
.game .hand img{
    width: auto;
    height: 100%;
}